span {color: #ff0000ad;}
a {text-decoration: none;color: white;font-size: 30px;}
body {background-color: grey;margin-left: 0px;margin-right: 0px}
nav{background-color: black;padding: 30px;display: flex;justify-content: space-around; }
h2 {font-family: 'Courier New', Courier, monospace;font-size: 40px;margin: auto;text-align: center;}
p {font-family: monospace    , Courier, monospace;font-size: 40px;margin: auto;}
.im1{width: 300px;
height: 250px
;}
.im2 {width: 300px;
height: 250px;
}
.im3 {width: 300px;
height: 250px;
}
section{margin: auto;display: flex;justify-content: space-around;margin-top: 10px;}
article{text-align: center;background-color:rgb(71, 70, 70);width: 350px;}
p:hover {font-weight: 900;color: #ff0000ad;}
